.body {font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #ffffff;}

ul {list-style-type: none;}

a {text-decoration: none;}

.logo {
font-family: "Raleway", sans-serif;
color:#4d5ae5;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;}
.span-logo {color: #2e2f42;}

.menu-nav a {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;}
.link-nav:hover {color: #404bbf;}
.link-nav:focus {color: #404bbf;}
 
.address {font-style: normal;}
.link-address {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
.link-address:hover {color: #404BBF;}
.link-address:focus {color: #404BBF;}

.section {background-color: #2e2f42;}
.title {font-size: 56px;
font-weight: bold;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;}
.button { font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5; cursor: pointer; color: #ffffff;}
.button:hover, .button:focus {background-color: #404BBF;}


.title-feature {font-weight: bold;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}

.feature {font-weight: 500; 
font-weight: medium;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.title-our-team {font-weight: bold;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.name {font-weight: 500; 
font-weight: medium;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.ourteam {background-color: #F4F4FD;}
.team-card {background-color: #FFFFFF;}

.title-portfolio {font-weight: bold;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.project {font-weight: 500; 
font-weight: medium;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.footer {background: #2e2f42;}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.footer-span-logo {color: #f4f4fd;}




